.user-chat{
  margin: 1rem auto;
  padding: 0.5rem 0.2rem;
  p {
    margin-bottom: 0;
    font-size: 1rem;
    color: $my-gray;
    font-weight: normal;
  }
  img {
    margin-right: 0.5rem;
  }
}

.specific-chat {
  display: flex ;
  align-items: center;
  margin-left: 0.5rem;
}

.chat-action {
  cursor: pointer;
}

#chat-target {
  height: 65vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#chat-target::-webkit-scrollbar{
  width: 6px;
}

#chat-target::-webkit-scrollbar-thumb{
  background: #a23e48b9;
  border-radius: 16px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
  &:hover{
    background: #a23e48d9;
  }
}
