.signup--title {
  background-color: $my-red;
  color: #FFFFFF;
  border-radius: 24px 24px 0 0;
}

.form-control.string.email.required, .form-control.string.required,
.form-control.text.required, .form-control.select.optional,
.form-control.password.required {
  border-radius: 24px;
}


