.form {
  height: 60px;
  width: 630px;
}

.post-emoji {
  width: 23px;
  height: auto;
}

.post-buttons-imgs {
  width: 590px;
  margin: 12px auto;
  padding: 3px;
}

.form-button {
  background-color: #A23E48;
  border-radius: 180px;
  border-style: none;
  color: #FFFFFF;
  padding: 5px 20px;
  position: relative;
  left: 535px;
}
