.form--input_text {
  border: 0px solid #ced4da;
}

.post-emoji {
  width: 23px;
  height: auto;
  filter: invert(35%) sepia(18%) saturate(3940%) hue-rotate(318deg) brightness(77%) contrast(82%);
  margin-right: 5px;
}


.active {
    display: none;
    position: relative !important;
    z-index: 1;
}





