.form {
  height: 60px;
  width: 630px;
}

.post-emoji {
  width: 23px;
  height: auto;
}

.post-buttons-imgs {
  width: 590px;
  margin: 12px auto;
  padding: 3px;
}

.post-buttons-post {
  background-color: #A23E48;
  padding: 5px 20px;
  border-radius: 180px;
}
