.form--input_text {
  border: 0px solid #ced4da;
}

.post-emoji {
  width: 23px;
  height: auto;
  filter: invert(35%) sepia(18%) saturate(3940%) hue-rotate(318deg) brightness(77%) contrast(82%);
  margin-right: 5px;
}

.active-emoji {
    display: none;
    position: relative !important;
    z-index: 1;
}

emoji-picker {
  position: absolute;
  z-index: 9;
  border-radius: 15px;
  left: 80px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  --background: #F8F4F1;
  --input-border-radius: 15px;
  --input-border-size: 0;
  --input-padding: 0.25rem 0.25rem 0.25rem 1rem;
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  emoji-picker {
    left: 20px;
    width: 94%;
    height: 170%;
  }

  .picker {
    width: 98%;
    height: 90%;
  }
}
