<div class="main-container row">
  <div class="profile-column col-4">
    <div class="profile-card">

    </div>
  </div>
  <div class="search-column">
    <div class="search-container col-8">
      <div class="search-bar">

      </div>
      <div class="filters">

      </div>
      <div class="search-result">

      </div>
    </div>
  </div>
</div>
