<div class="profile-nav-container">
  <!-- location -->
  <% if @user.address %>
    <div class="card-about">
      <%= image_tag 'location_icon.svg', class: "about-me-icon" %>
      <div class="about-text">
        <h5>location:</h5>
        <p>Rio de Janeiro</p>
      </div>
    </div>
  <% end %>

  <!-- genres -->
  <% if @user.genres.empty? == false %>
    <div class="card-about">
      <%= image_tag 'headphone_icon.svg', class: "about-me-icon" %>
      <div class="about-text">
        <h5>what I listen to:</h5>
        <p>Rock and Axé</p>
      </div>
    </div>
  <% end %>

  <!-- skills -->
  <% if @user.skills.empty? == false %>
    <div class="card-about">
      <%= image_tag 'piano_icon.svg', class: "about-me-icon" %>
      <div class="about-text">
        <h5>what I play:</h5>
        <p>Piano for 20 years</p>
      </div>
    </div>
  <% end %>
</div>
