<div class="profile-div">
  <div id="profile-img">
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-large" %>
  </div>
  <div style="text-align: center;">
    <h2 class="red-title"><%= @user.first_name + ' ' + @user.last_name %></h2>
    <p>@<%= @user.username %></p>
    <br>
    <p>Just some brillant scientist</p>
    <br>
    <div class="d-flex justify-content-around">
      <div><h3 class="red-title">75</h3><h5>friends</h5></div>
      <div><h3 class="red-title">9</h3><h5>jams</h5></div>
    </div>
  </div>
</div>
