.about-me-icon {
  width: 40px;
  margin: 0px 15px;
}
.card-about {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.profile-nav-container {
  margin: 20px auto;
  width: 90%;
  hr {
    border-top: 1px solid #A23E48;
  }
}
