.btn-home {
  padding: 12px 24px;
  background-image: linear-gradient(to bottom, #A23E48 0%, #A23E48 0.02%, #FF8520 237.14%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.btn-post {
  padding: 8px 24px;
  background-color: $my-red;
  border-radius: 25px;
  border: 1px solid $my-red;
  color: white;
  font-weight: lighter;
  letter-spacing: 1.25px;
  font-family: 'Rock Salt', "cursive";
  background-image: linear-gradient(to bottom, #A23E48 0%);
  opacity: 1;
  transition-property: background-image;
  transition-duration: 4s;
  &:hover {
    background-image: linear-gradient(to bottom, #A23E48 0%, #A23E48 0.02%, #FF8520 237.14%);
  }
}