.btn-bg {
  background-image: linear-gradient(180deg, #A23E48 0%, #A23E48 0.02%, #FF8520 237.14%);
}

.btn-home {
  padding: 12px 24px;
  background-image: linear-gradient(180deg, #A23E48 0%, #A23E48 0.02%, #FF8520 150%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
    background-size: auto 125%;
  &:hover {
    background-position: bottom center;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
  }
  a {
    text-decoration: none;
  }
}

a:hover{
  text-decoration: none;
  color: white;
}

.btn-post {
  font-family: 'Oxygen', 'sans-serif';
  padding: 8px 24px;
  border-radius: 25px;
  border: 1px solid $my-red;
  color: white;
  font-weight: lighter;
  background-size: auto 200%;
  opacity: 1;
  transition: 0.3s;
  &:hover {
    background-image: linear-gradient(180deg, #A23E48 0%, #A23E48 0.02%, #FF8520 150%);
    background-position: bottom center;
  }
}


.btn-effect {
  padding: 8px 24px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 25px;
  border: 1px solid $my-red;
 &:hover {
  background-position: right center; /* change the direction of the change here */
 }
}

