.btn-bg {
  background-image: linear-gradient(to right, #A23E48 0%, #A23E48 0.02%, #FF8520 237.14%);
}

.btn-home {
  padding: 12px 24px;
  background-image: linear-gradient(to bottom, #A23E48 0%, #A23E48 0.02%, #FF8520 237.14%);
  color: white;
  font-weight: bold;
  border-radius: 4px;
}

.btn-post {
  font-family: 'Rock Salt', "cursive";
  padding: 8px 24px;
  border-radius: 25px;
  border: 1px solid $my-red;
  color: white;
  font-weight: lighter;
  background-size: 200% auto;
  opacity: 1;
  transition: 1s;
  &:hover {
    background-position: bottom center;
  }
}


.btn-effect {
  padding: 8px 24px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  border-radius: 25px;
  border: 1px solid $my-red;
 &:hover {
  background-position: right center; /* change the direction of the change here */
 }
}