// Profile Card

.profile-card {
  background-color: white;
  border-radius: 16px;
  color: $gray;
  padding: 32px 20px;
  h3 {
    font-family: $body-font;
    font-size: 18px;
    margin: 0;
  }
  p {
    font-family: $body-font;
    font-size: 14px;
    margin: 0;
  }
}

// User Card

.user-card {
  background-color: white;
  border-radius: 16px;
  color: $gray;
  padding: 72px 16px;
  margin: 16px 32px;
  h3 {
    font-family: $body-font;
    font-size: 12px;
    margin: 0;
  }
  p {
    font-family: $body-font;
    font-size: 8px;
  }
}
