.footer {
  background-color: #A23E48;
  color: $my-background;
  position: sticky;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    margin: 8px;
  }
  i {
    font-size: 2rem;
    color: $my-background;
    opacity: 0.8;
    &:hover {
      opacity: 0.8;
      color: $my-orange;
    }
  }

  span {
    color: $my-background;
    opacity: 0.8;
  }
}

.content {
  padding: 24px 0;
}
