.form-list {
  background-color: white;
  padding: 10px 20px;
  margin: 50px auto;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.form-actions {
  display: flex;
  justify-content: space-between;
  
}