.home-icon img {
  height: 136px;
  width: 136px;
  left: 327px;
  top: 656px;
  margin-top: 12px;
  /*linear-gradient(180deg, #A23E48 29.69%, #FF8520 100%);*/
}


.home-icon h2 {
  margin-top: 16px;
}

.home-icon p {
  margin: 0;
}
