.navbar-lewagon {
  justify-content: space-between;
  background: $my-red;
}

.logo {
  font-size: 28px;
  font-family: 'Rock Salt', "cursive";
  margin: 0;
  padding-left: 24px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: #FFFFFF !important;
}

.active-nav {
  border-bottom: 3px solid #FF8520 !important;
  padding-bottom: 2px;
}

.nav-hello {
  display: flex;
  align-items: center;
  p {
    margin: 0 30px 0 0;
    color: #FFFFFF;
  }
}

.navbar-container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  .navbar-nav .dropdown-menu {
  position: absolute !important;
  left: 2.188rem;
  }
}
