.row:first-child {
  margin-top: 1.5rem !important;
}


.post-container {
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding: 12px 24px;
  hr {
    border-top: 1px solid #A23E48;
  }
}

.post-header {
  align-items: center;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  h5 {
    margin-right: 5px;
    font-weight: bold;
    color: #A23E48;
    margin-bottom: 0;
  }
  p {
    font-weight: lighter;
    color: #9e9e9e;
    margin-bottom: 0;
  }
  span {
    margin-left: 5px;
  }
  img {
    margin-right: 1rem;
  }
  a {
    color: #a23d48;
    margin-left: 5px;
  }
  a:hover {
    color: #e25664;
  }
}

.post-content {
  h4 {
    font-size: 1.15rem;
    margin: 0;
  }
}

.post-images {
  margin: 0.5rem 0;
  background-color: black;
  z-index: -1;
}

.post-action {
  display: flex;
  justify-content: flex-end;
  font-size: 16px;
  img {
    width: 1rem;
    margin-right: 0.5rem;
  }
}

.liked {
  width: 1.3rem !important;
}

iframe {
  border-radius: 15px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 70px;
  z-index: 9999;
}

.hidden {
  display: none;
}

.img-post {
  width: 100%;
  max-height: 600px;
}

.tall-image {
  width: auto !important;
  height: 600px;
}

.video {
  width: 100%;
  max-height: 600px;
}

.tall-video {
  width: auto !important;
  height: 600px;
}
