.post-container {
  background-color: white;
  border-radius: 8px 8px 0 0;
  padding: 12px 24px;
  border-bottom: 1px solid $my-red;
}

.post-header {
  align-items: center;
  width: 100%;
  h5 {
    margin-right: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #A23E48;
  }
  p {
    font-weight: lighter;
    color: #9e9e9e;
  }

  span {
    margin: 0 5px;
  }
  img {
    margin-right: 1rem;
  }
}