.profile-div {
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFF;
  border-radius: 24px;
  // margin-top: 40px;
  padding: 25px 25px;
  flex-wrap: wrap;
  img {
    display: block;
    margin-bottom: 25px;
  }
  #gear_wheel {
    width: 30px;
    margin: 0;
  }
  #profile-img {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .gear_wheel_div {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .red-title {
    font-weight: 700;
    color: #A23E48;
  }
}
