<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag 'gifs', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <%= yield %>

  </body>
</html>
